.nav-menu {
     background: rgb(1, 8, 19);
     background: linear-gradient(180deg, rgba(1, 8, 19, 1) 32%, rgb(10, 132, 156) 100%);
}

/* .nav-menu-button {
     background-color: rgb(38, 172, 165);
} */